/*
** 1. Settings
** 2. Tools
** 3. Vendors
** 4. Objects
** 5. Elements
** 6. Components
** 7. Patters
** 8. Scopes
** 9. Utilities
*/
.c-stat__title, .c-stat__value {
  transition: all 0.225s cubic-bezier(0.4, 0, 0.2, 1); }

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 14px; }

body {
  overflow-y: scroll;
  background-color: #f8f8f8; }

.o-api__content.o-api__content--loading .c-stat__title, .o-api__content.o-api__content--loading .c-stat__value {
  color: transparent; }

.o-api__content.o-api__content--loading .c-stats__body {
  background-image: linear-gradient(to right, #ffffff 10%, #f0f4f4 18%, #ffffff 33%);
  background-size: 1000px;
  background-repeat: no-repeat;
  animation: a-c-stats__body-loading linear infinite 2s; }
  @media screen and (max-width: 767px) {
    .o-api__content.o-api__content--loading .c-stats__body {
      animation: a-c-stats__body-loading-xs linear infinite 2s; } }
  .o-api__content.o-api__content--loading .c-stats__body.c-stats__body--table {
    min-height: 15em; }

@keyframes a-c-stats__body-loading {
  0% {
    background-position: -50vw; }
  25% {
    background-position: 0vw; }
  100% {
    background-position: 150vw; } }

@keyframes a-c-stats__body-loading-xs {
  0% {
    background-position: -150vw; }
  25% {
    background-position: 0vw; }
  100% {
    background-position: 250vw; } }

.o-container {
  min-height: calc(100vh - 60px); }

.o-header {
  display: block;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 15px; }
  .o-header > * {
    float: right; }

.o-header__logo {
  float: left;
  cursor: pointer; }
  .o-header__logo > * {
    float: left; }
  .o-header__logo .o-header__logo-text {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid #aaa;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #00aedd; }

.o-header__key {
  font-family: monospace;
  color: #189abf;
  background: #d4eff7;
  border-radius: 3px;
  padding: 5px 10px 4px;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  max-width: 20em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.o-header__menu-item {
  color: #fff;
  background: #00acdb;
  border-radius: 3px;
  padding: 6px 10px 5px;
  font-family: 'Poppins';
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer; }

.o-header__apis {
  float: left;
  padding-left: 2em; }

.o-header__apis-api {
  color: #189abf;
  border-radius: 3px;
  padding: 5px 10px 4px;
  margin-right: 1em;
  display: inline-block;
  font-size: 15px; }
  .o-header__apis-api:focus, .o-header__apis-api:hover {
    text-decoration: none; }
  .o-header__apis-api.active {
    background: #00acdb;
    color: #fff; }

login-component {
  display: flex;
  width: 100%;
  height: 100vh; }
  login-component > * {
    flex: 1 0 auto;
    align-self: center; }

.c-box {
  font-size: 1.15rem;
  margin: auto;
  padding: 2em;
  max-width: 500px;
  box-shadow: 0 2px 14px -3px rgba(8, 75, 94, 0.2);
  border-radius: 3px;
  background-color: #fff; }
  .c-box h2 {
    font-weight: 700;
    margin: 0 0 .5em; }
  .c-box p {
    margin-bottom: 1em; }
  .c-box input {
    width: 100%;
    padding: .75em;
    border-radius: 3px;
    border: 2px solid #02b0e0;
    margin-bottom: 1em; }
    .c-box input:focus {
      outline: none; }
    .c-box input:last-of-type {
      margin: 0; }
    .c-box input[type=submit] {
      color: #fff;
      background: #02b0e0;
      font-weight: 700;
      font-size: 1.1em;
      border: none; }

.c-stat-group__title {
  font-size: 2.5em;
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem; }

.c-stat__title {
  font-size: 17px;
  color: #365a63;
  font-weight: 500;
  margin-top: -0.5rem; }

.c-stat {
  margin-bottom: 1.5em;
  text-align: center; }
  .c-stat:not(:last-child) {
    border-right: 1px solid #e7edee; }
  .c-stat .ng-binding {
    min-height: calc(1em * 1.42857143); }

.c-stat__value {
  font-size: 40px;
  font-weight: 600;
  color: #063947; }

.c-stat__subtitle {
  font-size: 15px;
  color: #555;
  margin-top: -0.2em; }

.c-stats {
  margin-bottom: 2em; }

.c-stats__body {
  box-shadow: 0 2px 14px -3px rgba(8, 75, 94, 0.2);
  border-radius: 3px;
  padding: 1.5em 1em .5em;
  background-color: #fff; }
  .c-stats__body.c-stats__body--minus-margin-left {
    margin-left: -15px; }
  .c-stats__body.c-stats__body--minus-margin-right {
    margin-right: -15px; }
  .c-stats__body.c-stats__body--table {
    padding: 0; }
    .c-stats__body.c-stats__body--table .pagination {
      display: inline-block;
      margin: 0 0 -6px; }
      .c-stats__body.c-stats__body--table .pagination li > a {
        border: none;
        margin: 10px 4px;
        border-radius: 3px;
        color: #063947; }
        .c-stats__body.c-stats__body--table .pagination li > a:hover {
          background-color: #ecf2f3; }
        .c-stats__body.c-stats__body--table .pagination li > a > span {
          vertical-align: -1px; }
      .c-stats__body.c-stats__body--table .pagination li:first-child > a {
        margin-left: 10px; }
      .c-stats__body.c-stats__body--table .pagination li.active > a {
        background-color: #d3e8ee; }

.c-stats__header-title {
  display: inline-block;
  font-size: 32px;
  margin: .75rem 0;
  font-weight: 300;
  color: #063947; }

.c-stats__header-subtitle {
  display: inline-block;
  font-size: 18px;
  margin: .75rem 0 .75rem .5rem;
  font-weight: 500;
  color: #6d7678; }
  .c-stats__header-subtitle.c-stats__header-subtitle--small {
    font-size: 14px;
    vertical-align: 3px;
    color: #627e84; }

.c-stats__header-update {
  display: inline-block;
  font-size: 15px;
  margin: .75rem 0;
  color: #8f9fa3;
  float: right;
  line-height: calc(32px * 1.42857143); }

.c-stats__header-select {
  display: inline-block;
  vertical-align: 4px;
  margin-left: 1em; }
  .c-stats__header-select input {
    width: 7em;
    display: inline-block;
    text-align: center;
    height: 32px;
    line-height: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: 1px solid #ced8da;
    border-left: none;
    border-radius: 0;
    margin-left: -4px;
    margin-top: -5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
    .c-stats__header-select input:focus {
      border-color: #76b5c1;
      box-shadow: none; }

.c-stats__header-select-label {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  background: #d3e8ee;
  padding: 0 8px;
  border: 1px solid #ced8da;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #063846;
  font-weight: 600; }

.c-table {
  width: 100%; }
  .c-table thead {
    border-bottom: 1px solid #ced8da; }
    .c-table thead th {
      text-align: left;
      font-size: 1.15em;
      padding: .8rem 1em;
      color: #063947; }
      .c-table thead th.sortable.sort-asc, .c-table thead th.sortable.sort-desc {
        background-color: #d3e8ee;
        text-shadow: 1px 1px 0 #ffffff; }
      .c-table thead th.filter {
        padding: 6px; }
        .c-table thead th.filter input {
          border: 1px solid #a8babd;
          border-radius: 2px;
          box-shadow: none; }
    .c-table thead tr.ng-table-filters {
      border-top: 1px solid #ced8da; }
  .c-table tbody td {
    border-bottom: 1px solid #e6ebec;
    font-size: 15px;
    padding: .65rem 1em; }
  .c-table tbody tr:nth-child(odd) {
    background-color: #f8fbfc; }

/*# sourceMappingURL=scss/style.css.map */
