// Colors
$color-main: rgb(2, 176, 224);
$color-accent: rgb(253, 196, 32);

// Fonts
$font-base-size: 14px;
$font-base-line-height: 1.42857143;
$font-poppins: 'Poppins', sans-serif;
$font-lato: 'Lato', sans-serif;
