.c-box{
  font-size: 1.15rem;
  margin: auto;
  padding: 2em;
  max-width: 500px;
  box-shadow: 0 2px 14px -3px rgba(8, 75, 94, 0.2);
  border-radius: 3px;
  background-color: #fff;

  h2{
    font-weight: 700;
    margin: 0 0 .5em;
  }

  p{
    margin-bottom: 1em;
  }

  input{
    width: 100%;
    padding: .75em;
    border-radius: $size-border-radius;
    border: 2px solid $color-main;
    margin-bottom: 1em;

    &:focus{
      outline: none;
    }

    &:last-of-type{
      margin: 0;
    }

    &[type=submit]{
      color: #fff;
      background: $color-main;
      font-weight: 700;
      font-size: 1.1em;
      border: none;
    }
  }
}
