.c-stats {
  margin-bottom: 1em;
}

.c-stats__body {
  box-shadow: 0 2px 14px -3px hsla(193, 84%, 20%, 0.2);
  border-radius: 3px;
  padding: 1.5em 1em .5em;
  background-color: #fff;
}

.c-stats__header-title {
  font-size: 32px;
  margin: .75rem 0;
  font-weight: 300;
  color: #063947;
}
