.o-header{
  display: block;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 15px;

  > *{
    float: right;
  }
}

.o-header__logo{
  float: left;
  cursor: pointer;

  > *{
    float: left;
  }

  .o-header__logo-text{
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid #aaa;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #00aedd;
  }
}

.o-header__key{
  font-family: monospace;
  color: hsla(193, 78%, 42%, 1);
  background: hsla(194, 70%, 90%, 1);
  border-radius: $size-border-radius;
  padding: 5px 10px 4px;
  text-shadow: 1px 1px hsla(0, 0%, 100%, 0.25);
  cursor: pointer;
  max-width: 20em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.o-header__menu-item {
    color: #fff;
    background: hsl(193, 100%, 43%);
    border-radius: $size-border-radius;
    padding: 6px 10px 5px;
    font-family: 'Poppins';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
}


.o-header__apis{
  float: left;
  padding-left: 2em;
}

.o-header__apis-api{
  color: #189abf;
  border-radius: 3px;
  padding: 5px 10px 4px;
  margin-right: 1em;
  display: inline-block;
  font-size: 15px;

  &:focus, &:hover{
    text-decoration: none;
  }

  &.active{
    background: hsl(193, 100%, 43%);
    color: #fff;
  }
}